 <section class="view hm-black-light jarallax full-height" data-jarallax='{"speed": 0.2}' style="background-image: url(public/images/pool-cottage.jpg);">
                <div class="full-bg-img">
                    <div class="container flex-center">
                       
                    </div>
                </div>
            </section>