<section class="view hm-black-light jarallax half-height" data-jarallax='{"speed": 0.2}' style="background-image: url(images/bbq1-sm.jpg);">
    <div class="full-bg-img">
        <div class="container">
            <div id="home">
                <div class="container">
                    <!--Form-->

                    <div class="row justify-content-start">
                        <div class="col-sm-7 mt-5">
                            <div class="card wow fadeInRight mt-5 mb-5" data-wow-delay="0.3s">

                                <div class="card-body">
                                    <!--Header-->
                                    <div class="text-center">
                                        <h3 class="teal-text">
                                            <i class="fa fa-user teal-text"></i> Register Your Space</h3>
                                        <hr class="hr-light">
                                    </div>
                                    <!--Body-->


                                    <div class="teal-text font-weight-bold">What kind of space do you want to rent?</div>
                                    <form id="register_host">
                                        <div class="text-left mt-2">
                                            <label for="register_type_of_asset" class="teal-text">Asset</label>
                                            <select class="teal-text form-control" id="register_type_of_asset">
                                                <option>Parking</option>
                                                <option>Space</option>
                                                <option>Hamsters</option>
                                            </select>
                                        </div>
                                        <hr>

                                        <div class="teal-text font-weight-bold">How can others utilize your space?</div>
                                        <div class="row mt-2">
                                            <div class="col-sm-6">
                                                <label class="teal-text" for="register_use_of_asset">Type</label>
                                                <select class="teal-text form-control" id="register_use_of_asset">
                                                    <option>Automobile</option>
                                                    <option>Recreation Vehicle</option>
                                                    <option>Boat</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="teal-text" for="register_size_first">Length</label>
                                                <input type="text" id="register_size_first" placeholder="# in feet" class="teal-text form-control">
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="teal-text" for="register_size_second">Width</label>
                                                <input class="teal-text form-control" type="text" id="register_size_second" placeholder="# in feet">
                                                </select>
                                            </div>
                                        </div>
                                        <hr>

                                        <div class="teal-text font-weight-bold">Are there any time restrictions?</div>
                                        <div class="row mt-2">
                                            <div class="col form-group text-left aForm">
                                                <label class="teal-text" for="available_time_start">Available From :</label>
                                                <input class="form-control teal-text" type="text" id="available_time_start" placeholder="7:00 (24:00 format)">
                                            </div>
                                            <div class="col form-group text-left aForm">
                                                <label class="teal-text" for="available_time_end">To:</label>
                                                <input class="form-control teal-text" type="text" id="available_time_end" placeholder="18:00 (24:00 format)">
                                            </div>
                                        </div>
                                        <hr>

                                        <div class="teal-text font-weight-bold">Where is your space located?</div>

                                        <div class="form-row mt-2">
                                            <div class="col-4">
                                                <input type="text" class="teal-text form-control" id="country" placeholder="Country">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="teal-text form-control" id="address" placeholder="99 Hamster St">
                                            </div>

                                            <div class="col-8 mt-2">
                                                <input type="text" class="teal-text form-control" id="city" placeholder="City">
                                            </div>
                                            <div class="col mt-2">
                                                <input type="text" class="teal-text form-control" id="state" placeholder="State">
                                            </div>
                                            <div class="col mt-2">
                                                <input type="text" class="teal-text form-control" id="zip" placeholder="Zip">
                                            </div>
                                        </div>
                                        <hr>

                                        <div class="teal-text font-weight-bold">Description</div>
                                        <div class="form-group mt-2">
                                            <div class="col-sm-12">
                                                <textarea class="teal-text form-control" id="short_descrption" rows="8" placeholder="Gravel driveway, slightly sloped"></textarea>
                                            </div>
                                        </div>
                                        <hr>


                                        <div class="teal-text font-weight-bold">Price per day</div>
                                        <div class="row mt-2">
                                            <div class="col form-group text-left">
                                                <label class="teal-text" for="register_price_daily">In USD:</label>
                                                <input class="teal-text form-control" type="text" id="register_price_daily" placeholder="10">
                                            </div>
                                        </div>
                                        <hr>

                                        <div class="teal-text font-weight-bold">Upload up to 4 images of your asset</div>

                                        <div method="post" action="/upload" class="dropzone" id="dropzone-example">
                                            <div class="fallback">
                                                <input name="file" type="file" multiple />
                                            </div>
                                        </div>




                                        <a href="search" type="submit" id="submission_register_host" class="btn btn-success mt-3 float-right pl-5 pr-5">Submit</a>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>