<!--Intro Section-->
<section class="view hm-black-light jarallax full-height" data-jarallax='{"speed": 0.2}' style="background-image: url(/images/bbq1-sm.jpg);">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="d-flex align-items-center content-height">
                <div class="row flex-center pt-5 mt-3">
                    <div class="col-md-6 text-center text-md-left mb-5">
                        <div class="white-text">
                            <h1 id="hp-main-h1" class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s"> Sign up right now! </h1>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <h4 id="hp-main-h4" class="wow fadeInLeft" data-wow-delay="0.3s">With ShareBnb you can share parts of your home, yard or property with others! Rent out your swimming
                                pool for a pool party or share your yard with someone who has an RV and needs to park it
                                for a few days. You can even share your driveway for daily parking!</h4>
                            <br>
                            <a class="btn btn-white wow fadeInLeft" href="signup" data-wow-delay="0.3s">Sign up</a>
                            <h4 id="hp-main-h4" class="wow fadeInLeft" data-wow-delay="0.3s">Already a member?</h4>
                            <a class="btn btn-white wow fadeInLeft" href="login" data-wow-delay="0.3s">Login</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>