<section class="view hm-black-light jarallax full-height" data-jarallax='{"speed": 0.2}' style="background-image: url(images/bbq1-sm.jpg);">
    <div class="full-bg-img">
        <div class="container">
            <div id="login">
                <div class="container">
                    <div class="mt-5">
                        <div class="col-4 col-xl-5 offset-xl-1 pt-5">
                            <!--Form-->
                           <form class="login">
                            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                <div class="card-body">
                                    <!--Header-->
                                    <div class="text-center">
                                        <h3 class="teal-text">
                                            <i class="fa fa-user teal-text"></i> Login</h3>
                                        <hr class="hr-light">
                                    </div>
                                    <!--Body-->
                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix teal-text active"></i>
                                        <input type="email" id="email" class="form-control">
                                        <label for="email" class="active teal-text">Email</label>
                                    </div>

                                    <div class="md-form">
                                        <i class="fa fa-lock prefix teal-text active"></i>
                                        <input type="password" id="password" class="form-control">
                                        <label for="password" class="active teal-text">Password</label>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" id="login-page" class="btn btn-success">Log in</button>
                                        <hr class="hr-light mb-3 mt-4">

                                        <div class="inline-ul text-center d-flex justify-content-center">
                                            <a class="icons-sm tw-ic">
                                                <i class="fa fa-twitter teal-text"></i>
                                            </a>
                                            <a class="icons-sm li-ic">
                                                <i class="fa fa-linkedin teal-text"> </i>
                                            </a>
                                            <a class="icons-sm ins-ic">
                                                <i class="fa fa-instagram teal-text"> </i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--/.Form-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>