<div class="container">    
    <div class="jumbotron">
      <div class="row">
          <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
              <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img">
          </div>
          <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
              <div class="container" style="border-bottom:1px solid black">
                <h2>John Doe</h2>
              </div>
                <hr>
              <ul class="container details">
                <li><p><span class="glyphicon glyphicon-user" style="width:50px;"></span>First Name:</p></li>
                <li><p><span class="glyphicon glyphicon-user" style="width:50px;"></span>Last Name:</p></li>
                <li><p><span class="glyphicon glyphicon-earphone" style="width:50px;"></span>Phone:</p></li>
                <li><p><span class="glyphicon glyphicon-envelope" style="width:50px;"></span>Email:</p></li>
                <li><p><span class="glyphicon glyphicon-home" style="width:50px;"></span>Address:</p></li>
                <li><p><span class="glyphicon glyphicon-home" style="width:50px;"></span>City:</p></li>
                <li><p><span class="glyphicon glyphicon-home" style="width:50px;"></span>State:</p></li>
                <li><p><span class="glyphicon glyphicon-home" style="width:50px;"></span>Zip:</p></li>
                <li><p><span class="glyphicon glyphicon-home" style="width:50px;"></span>Country:</p></li>
                <li><p><span class="glyphicon glyphicon-header" style="width:50px;"></span>Host:</p></li>
                <li><p><span class="glyphicon glyphicon-lock"style="width:50px;"></span>Password:</p></li>
              </ul>
          </div>
      </div>
    </div>