<section class="view hm-black-light jarallax full-height" data-jarallax='{"speed": 0.2}' style="background-image: url(images/bbq1-sm.jpg);">
    <div class="full-bg-img">
        <div class="container">
            <div id="home">
                <div class="container">
                    <!--Form-->

                    <div class="row justify-content-start">
                        <div class="col-md-12 mt-5">
                            <div class="card wow fadeInRight mt-5 mb-5" data-wow-delay="0.3s">

                                <div class="card-body">
                                    <!--Header-->
                                    <div class="text-center">
                                        <h3 class="teal-text">
                                            <i class="fa fa-user teal-text"></i> Find a space</h3>
                                        <hr class="hr-light">
                                    </div>
                                    <!--Body-->
                                    <div class="row">
                                        <div class="col-md-5">
                                            <form id="register_host">
                                                <div class="teal-text">Asset Type</div>
                                                <div class="text-left mt-2">
                                                    <select class="teal-text form-control" id="register_type_of_asset">
                                                        <option>Parking</option>
                                                        <option>Space</option>
                                                        <option>Hamsters</option>
                                                    </select>
                                                </div>

                                        </div>
                                        <div class="col-md-5">
                                            <div class="teal-text">Location</div>
                                            <div class="form-row mt-2">
                                                <input type="text" class="teal-text form-control" id="city_finder" placeholder="Berkeley, CA">
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <a id="find_space" class="btn btn-success mt-4 pl-5 pr-5">Search</a>
                                       
                                        </div>
                                        </form>
                                    </div>
                                    <hr>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="append_results">
                                                
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

