<!DOCTYPE html>
<html lang="en" class="full-height">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>shareBnB</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Font Awesome -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="bootstrap/css/mdb.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <!-- Your custom styles (optional) -->
  {{!--
  <link href="css/style.css" rel="stylesheet"> --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <link rel="stylesheet" href="/styles/dropzone.css">
</head>

<body>
  {{{body}}}
  <!-- SCRIPTS -->
  <script type="text/javascript" src="bootstrap/js/jquery-3.3.1.min.js"></script>
  <!-- JQuery -->
  <script type="text/javascript" src="bootstrap/js/umd/popper.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="bootstrap/js/mdb.min.js"></script>
  <script type="text/javascript" src="./js/dropzone.js"></script>
  <script type="text/javascript" src="./js/hostregister.js"></script>

 
  
  <script type="text/javascript" src="./js/user.js"></script>
  <script type="text/javascript" src="./js/login.js"></script>

  <!-- MDB core JavaScript -->
  <script> // Animations init
    new WOW().init();
  </script>
</body>

</html>