<section class="view hm-black-light jarallax full-height" data-jarallax='{"speed": 0.2}' style="background-image: url(images/bbq1-sm.jpg);">
    <div class="full-bg-img">

<div class="container flex-center">
    <div class="d-flex align-items-center content-height">
        <div class="row flex-center pt-5">
            <div class="col-md-12 text-center text-md-left mb-5">
                <div class="white-text">
                    <h1 id="hp-main-h1" class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s"> You are now signed in!</h1>
                    <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                    <h4 id="hp-main-h4" class="wow fadeInLeft" data-wow-delay="0.3s">Thank you for being a member of ShareBnB.</h4>
                    <br>
                    <a class="btn btn-white wow fadeInLeft" href="hostregister" data-wow-delay="0.3s">Add your space</a>
                    <a class="btn btn-white wow fadeInLeft" href="search" data-wow-delay="0.3s">Find a space</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- 
        <div class="container">
            <div id="home"> --}}
                {{> nav/navbar}}
                {{!-- <h1>{{msg}}</h1>
                <h2 class="mt-5">Thanks for logging in, you are a member!</h2> --}}
                {{!-- {{> examplePartials/partial}} --}}
            {{!-- </div>
        </div> --}}