<div class="container">
    <div id="home">
        {{> nav/navbar}}
        <h1>{{msg}}</h1>
        <h2>Thanks for loggin in, you are a memeber!</h2>
        {{> examplePartials/partial}}
    </div>
</div>