<section class="view hm-black-light jarallax half-height" data-jarallax='{"speed": 0.2}' style="background-image: url(images/bbq1-sm.jpg);">
    <div class="full-bg-img">
        <div class="container">
            <div id="login">
                {{> nav/navbar}}

                <div class="container">
                    <div class="mt-5">
                        <div class="col-4 col-xl-5 offset-xl-1 pt-5">
                            <!--Form-->
                            <div class="card logincard wow fadeInRight" data-wow-delay="0.3s">
                                <div class="card-body">
                                    <!--Header-->
                                    <div class="text-center">
                                        <h3 class="teal-text">
                                            <i class="fa fa-user teal-text"></i> Signup:</h3>
                                        <hr class="hr-light">
                                    </div>
                                    <!--Body-->
                                    <form>
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix teal-text active"></i>
                                            <input type="text" id="first-name" class="form-control">
                                            <label for="first-name" class="active teal-text">First name</label>
                                        </div>
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix teal-text active"></i>
                                            <input type="text" id="last-name" class="form-control">
                                            <label for="last-name" class="active teal-text">Last name</label>
                                        </div>
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix teal-text active"></i>
                                            <input type="text" id="phone" class="form-control">
                                            <label for="phone" class="active teal-text">Phone Number</label>
                                        </div>
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix teal-text active"></i>
                                            <input type="email" id="email" class="form-control">
                                            <label for="email" class="active teal-text">Your email</label>
                                        </div>
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix teal-text active"></i>
                                            <input type="text" id="address" class="form-control">
                                            <label for="address" class="active teal-text">Address</label>
                                        </div>
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix teal-text active"></i>
                                            <input type="text" id="city" class="form-control">
                                            <label for="city" class="active teal-text">City</label>
                                        </div>
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix teal-text active"></i>
                                            <input type="text" id="state" class="form-control">
                                            <label for="state" class="active teal-text">State</label>
                                        </div>
                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix teal-text active"></i>
                                            <input type="text" id="zip" class="form-control">
                                            <label for="zip" class="active teal-text">Zip</label>
                                        </div>

                                        <div class="md-form">
                                            <i class="fa fa-lock prefix teal-text active"></i>
                                            <input type="password" id="password" class="form-control">
                                            <label for="password" class="active teal-text">Your password</label>
                                        </div>

                                        <div class="text-center">
                                            <button id="user-signup" class="btn btn-success">Sign up</button>
                                            <hr class="hr-light mb-3 mt-4">

                                            <div class="inline-ul text-center d-flex justify-content-center">
                                                <a class="icons-sm tw-ic">
                                                    <i class="fa fa-twitter teal-text"></i>
                                                </a>
                                                <a class="icons-sm li-ic">
                                                    <i class="fa fa-linkedin teal-text"> </i>
                                                </a>
                                                <a class="icons-sm ins-ic">
                                                    <i class="fa fa-instagram teal-text"> </i>
                                                </a>
                                            </div>
                                        </div>

                                </div>
                            </div>
                            </form>
                            <!--/.Form-->
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<h1>{{msg}}</h1>
<h2>This is our Home Page!</h2>
{{> examplePartials/partial}}