<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <h3>Why host on ShareBnB</h3>
      <p>No matter what kind of yard you have to share, ShareBnB makes it simple and secure to earn money and reach millions of neighbors looking for yards and driveways, just like yours.</p>
    </div>
    <div class="col">
      <h3>You control your Earning potential</h3>
      <p>With ShareBnB, you’re in full control of your availability, prices, house-yard rules, and how you interact with guests. You can set check-in times and handle the process however you like.</p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
     <h3>1. Create your Listing</h3>
     <p>It’s free and easy to create a listing on ShareBnB. Describe your yard space, how many guests you can accommodate, and add photos and details.</p>
    </div>
    <div class="col">
      <picture>
        <img src= "http://media.equityapartments.com/images/c_crop,x_0,y_0,w_1920,h_1080/c_fill,w_1920,h_1080/q_80/3977-68/skyline-terrace-apartments-swimming-pool.jpg" class="img-thumbnail" alt="Swimming Pool">
      </picture>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <picture>
        <img src= "http://blog.diycontrols.com/wp-content/uploads/2017/09/driveway-design-ideas.jpg" class="img-thumbnail"alt="Swimming Pool">
      </picture>
    </div>
    <div class="col">
      <h3>2. Get Paid</h3>
      <p> ShareBnB’s secure payment system means you never have to deal with money directly.Guests are charged before arrival, and you are paid automatically after check in.You can be paid via PayPal, direct deposit, or international money wire, among other ways.</p>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h3 class="display-5">Start creating your listing </h3>
    <p class="lead">Rent your yard space out and make money today!</p>
   <button type="button" class="btn btn-primary btn-lg">Get Started</button>
  </div>
</div>
