          <li class="{{#if active.Home}}active{{/if}}/">
            <a class="nav-link" href="{{id}}">Home</a>
          </li>
          <li class="{{#if active.signup}}active{{/if}}signup">
            <a class="nav-link" href="{{id}}">Sign up</a>
          </li>
          <li class="{{#if active.login}}active{{/if}}login">
            <a class="nav-link" href="{{id}}">Log in</a>
          </li>
          <li class="{{#if active.hostregister}}active{{/if}}hostregister">
            <a class="nav-link" href="{{id}}">Become a host</a>
          </li>